
.card
{
	margin-top:100px;
	background:rgb(240,240,240);
	width:50%;
	padding-bottom:30px;
	diplay:block;
	margin:100px auto;
	border: 2px solid #28A745;
	border-radius: 10px;

}
form
{
	display:block;
	margin: auto;

}
h3
{
	text-align:center;
	font-size:35px;
	padding:20px;
	margin-top:-40px;
}
.myButton
{
	border:2px solid #28A745;
	padding:5px 50px;
	font-size:20px;
	color:#28A745;
	border-radius:30px;
	margin:auto auto;
	display:block;
	transition:all ease-in-out .3s;
	
}
.myButton:hover
{
	border:2px solid #28A745;
	padding:5px 50px;
	font-size:20px;
	background:#28A745;
	color:#fff;
	border-radius:30px;
	margin:auto auto;
	display:block;
	transition:all ease-in-out .3s;
	cursor:pointer;
	
}
.myclass
{
	font-weight:bold;
	width:100%;
}
.checkPad
{
	margin-left:20px;
	font-size:50px;
	  height: 25px;
  width: 25px;
  background-color: #eee;
  top:8px;
  position:relative;
}
.checkPad:hover
{
	background-color: #ccc;
}
checkPad:checked
{
	background-color: #2196F3;
}