
.card
{
	margin-top:80px;
}
.card-header{
	text-align:center;
	font-weight:bold;
	letter-spacing:2px;
	font-size:18px;
}
.form-group
{
	text-align:center
	
}
th,td
{
	text-align:center;
	line-height:30px;
}
th
{
	background:#1977CC;
	color:#fff;
}
tr:hover
{
	background:#C9EAF6;
	cursor:pointer;
	font-weight:bold;
}
table
{
	width:80%!important;
	margin: auto auto;
}